# Feel free to copy this file to config.local As default cmake does not enable
# optimization. The ray tracer is orders of magnitudes faster when basic
# optimizations are enabled.

SET(CMAKE_BUILD_TYPE Release)
SET(CMAKE_CXX_FLAGS "-Wall -Wextra -ffast-math")
